@font-face {
  font-family: 'MyWebFont';
     src: url(Cabin-Regular.ttf); 
     
}
*{
  margin: 0;
}
body {
  height: 100vh;
  background: linear-gradient(#dc2430,#7b4397);
}
h2{
  font-family: "MyWebFont";
  color: rgb(255, 255, 255);
  font-size: 45px;
  text-align: left;
  position: relative;
    left: 50px;
    
  
}
bar {
  margin: 0;
  display: block;
  background: #7b4397;
  height: 50px;
}