.contact-container{
    position: relative;
    background-color: indianred;
}
.h1-contact{
    position: absolute;
    top: 0; left: 46%;
    z-index: 1;
    color: rgb(41, 41, 41);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
}
.contact-form{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for container */
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    width: 20%;
    background-color: hsl(204.68deg 77.45% 40%);
    border-radius: 7px;
    padding-inline: 4rem;
}