.contact-container{
    position: relative;
    background-color: indianred;
}
.h1-contact{
    position: absolute;
    top: 0; left: 52%; /* Center horizontally */
    transform: translateX(-50%);
    z-index: 1;
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
}
.h2-contact{
    padding-inline: 2rem;
    color: #333;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.8rem;
    font-weight: 700;
}
.contact-form{
    position: relative;
    z-index: 3;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for container */
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2rem;
    border-radius: 7px;
    padding-inline: 0rem;
}
.contact-forms-parent{
    position: absolute;
    margin: 1rem;
    z-index: 2;
    top: 10%; left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    width: 40%;
}
.contact-form-text{
    position: relative;
    text-align: center;
    margin-block: 1em;
    padding: .5rem;
    font-size: x-large;
    color: #ffffff;
}