.work-experience-parent{
    
    background-image: linear-gradient(
      20deg,
      rgb(17, 104, 115) 17%,
      hsl(183deg 44% 33%) 34%,
      hsl(176deg 29% 40%) 51%,
      hsl(166deg 20% 47%) 68%,
      rgb(121, 160, 143) 85%,
      hsl(138deg 15% 62%) 102%,
      hsl(113deg 15% 69%) 119%,
      hsl(89deg 18% 74%) 136%,
      hsl(70deg 21% 79%) 153%,
      hsl(52deg 32% 86%) 175%
    );
    min-height: 100vh; /* Ensure background covers full viewport height */
    
}
.header-work{
    display: flex;
    align-items: center;
}
.header-work-right{
    padding-right: 2rem;
}
.work-experience-container{
    padding: 3rem;
    min-height: 100vh; /* Ensure background covers full viewport height */
    margin-inline: 7rem;
}
.h1-work-experience{
    font-size: 4rem; /* Use rem for project title, adjusted down from 800% */
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: left; /* Align title to the left */
}
.h2-about-versa{
    font-size: 1.2rem; /* Use rem for project title, adjusted down from 800% */
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: left; /* Align title to the left */
    max-width: 70%;
    margin-bottom: .5rem;
}
.link-versa{
    font-size: larger;
    
}