.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
}
.Cards{
  display: flex;
  align-items: center;
  justify-content: center;
}


.background {
  background-image: linear-gradient(to top, white, rgb(129, 142, 145));
  size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
  font-size: calc(10px + 2vmin);
  
}


:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.2px 0.7px 0.8px hsl(var(--shadow-color) / 0.2),
    1px 3.2px 3.8px -2.5px hsl(var(--shadow-color) / 0.2);
  --shadow-elevation-medium:
    0.2px 0.7px 0.8px hsl(var(--shadow-color) / 0.19),
    1.2px 4px 4.7px -1.2px hsl(var(--shadow-color) / 0.19),
    4.8px 16px 18.8px -2.5px hsl(var(--shadow-color) / 0.19);
  --shadow-elevation-high:
    0.2px 0.7px 0.8px hsl(var(--shadow-color) / 0.18),
    2px 6.8px 8px -0.5px hsl(var(--shadow-color) / 0.18),
    4.4px 14.5px 17px -1px hsl(var(--shadow-color) / 0.18),
    8.5px 28.2px 33.1px -1.5px hsl(var(--shadow-color) / 0.18),
    15.6px 52px 61.1px -2px hsl(var(--shadow-color) / 0.18),
    27.2px 90.4px 106.2px -2.5px hsl(var(--shadow-color) / 0.18);
}
.background-sh {
  background-image: linear-gradient(
  20deg,
  hsl(187deg 74% 26%) 17%,
  hsl(183deg 44% 33%) 34%,
  hsl(176deg 29% 40%) 51%,
  hsl(166deg 20% 47%) 68%,
  rgb(121, 160, 143) 85%,
  hsl(138deg 15% 62%) 102%,
  hsl(113deg 15% 69%) 119%,
  hsl(89deg 18% 74%) 136%,
  hsl(70deg 21% 79%) 153%,
  hsl(52deg 32% 86%) 175%
);
}
.paragraph1{
  
  text-align:center;
  width: 80vh; /* whatever width you want */
  font-size: 160%;
  color: white;
}
.paragraph2{
  margin-left:4vh;
  margin-top: 18vh;
  text-align:center;
  width: 80vh; /* whatever width you want */
  font-size: 160%;
  color: white;
}
.bottom-nav{
  margin-top: 14vh;
  height: 7vh;
  width: 100%;
  background-color:hsl(176deg 29% 40%);
  text-align: center;
  box-sizing: border-box;
  padding-left: 4vh;
  padding-top: 1vh;
  

  font-size: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow:
        var(--shadow-elevation-low);
}
.text-section1{
  display: flex;
  margin-left:4vh;
  margin-top: 12vh;
  height: auto;
  
}
.icon-container1{
  
  margin-left:auto;
  margin-right: 4vh;
  width: 90vh;
}

.imgcss-wayne{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  float: left;
  margin-right: 6vh;
}
.imgcss-code{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  float: left;
}