
.card-container{
    width: auto;
    overflow: hidden;
    transition: 0.2s;
    animation: ease-in-out;
    height: 72vh;
    margin: 4vh;
    
    background-color: hsl(89deg 18% 74%);
    border-radius: 16px;
    box-shadow:
      var(--shadow-elevation-high);
}
.card-container:hover{
    transform: scale(1.02);
}
.imgcss{
    height: 55vh;
    width: auto;
    margin: 1vh;
    border-radius: 16px;
    
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem
}
h3,p{
    margin: 0;
    padding: 0;
    border: 2px;
    border-radius: 5px;
    border-color: black;
    
    font-size: 120%;
    
}
.card-title{
    margin-bottom: 0.5rem;
}
