
.card-container{
    width: 54vh;
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in;
    height: 550px;
    margin: 2vh;
    
    background-color: hsl(89deg 18% 74%);
    border-radius: 16px;
    box-shadow:
      var(--shadow-elevation-high);
}
.card-container:hover{
    transform: scale(1.025);
}
.imgcss{
    height: 450px;
    width: 52vh;
    margin: 1vh;
    border-radius: 16px;
    
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem
}
h3,p{
    margin: 0;
    padding: 0;
    border: 2px;
    border-radius: 5px;
    border-color: black;
}
.card-title{
    margin-bottom: 0.5rem;
}
