body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navWrapper{
  position: relative;
  background-image:linear-gradient(
        20deg,
        
        hsl(166deg 20% 47%) 68%,
        rgb(121, 160, 143) 85%,
        hsl(137, 13%, 67%) 97%
        
      );
}
