.nav-wrap{
    width:100%;
    height: 80px;
    background-image:linear-gradient(
        20deg,
        
        hsl(166deg 20% 47%) 68%,
        rgb(121, 160, 143) 85%,
        hsl(137, 13%, 67%) 97%
        
      );
}
.nav-container{
    width:100%;
    height: 80px;
    background-color:hsl(176deg 29% 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 110%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
}
.nav-title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 215%;
    margin-bottom: 10px;
}
.nav-container h1{
   margin-top: 0;
   margin-bottom: 10px; 
   
}
.nav-list-l li{
    float: left; 
}
.nav-list-r li{
    float: right;
    
}
.nav-list-l ul {
    list-style: none;
    display: inline-block;
    color:rgb(255, 255, 255);
}
.nav-list-r ul {
    list-style: none;
    display: inline-block;
    color:rgb(255, 255, 255);
}

.nav-container a { 
    display: block;
    padding: 0px 30px;
    text-decoration: none;
    color: inherit;
}

